.header {

}
.header__row {
display: flex;
align-items: center;
justify-content: space-between;
}
.header__text {
    width: 465px;
   

    p{
        line-height: 1.6875;
        margin-bottom: 1em;
        
    }
}
.header__title {
    font-size: 54px;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 1.46;

    
    margin-right: -160px;
    position: relative;
    z-index: 9;
}
.header__img {

}
