.testimonial {

}
.testimonial__info {
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 93px;
}
.testimonal__left {
    font-size: 42px;
    width: 452px;
}
.testimonial__right {
    width: 398px;
}

.testimonial__cards {
    display: flex;
    column-gap: 30px;

}
.testimonial__card-item {
    width: 350px;
    height: 425px;
    
}
.testimonial__img {

}
.testimonail__text {
    display: block;
    margin: 0 auto;
    width: 292px;
}
.testimonial__auter {

}
.testimonial__space {

}
