* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5.h6, p {
  font-size: inherit;
}

input, button {
  font-size: inherit;
  font-family: inherit;
  border: none;
}

button {
  cursor: pointer;
  background: none;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #323232;
  line-height: 1, 6875;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container--fluid {
  width: 100%;
  max-width: unset;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.logo img {
  margin-right: 15px;
}

.navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-list li {
  margin-right: 42px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a {
  color: inherit;
  text-decoration: none;
}
.navigation-list a.active {
  color: #f78434;
  font-weight: 700;
}
.navigation-list a:hover {
  color: #f78434;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text {
  width: 465px;
}
.header__text p {
  line-height: 1.6875;
  margin-bottom: 1em;
}

.header__title {
  font-size: 54px;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.46;
  margin-right: -160px;
  position: relative;
  z-index: 9;
}

.header__img img {
  border-radius: 40px 40px 40px 0;
}

.form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  margin-top: 42px;
}
.form--active {
  -webkit-box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
          box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
}

.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 72px;
  height: 100%;
}
.form__label:before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url(../../img/header/Iconemail.png);
  background-size: initial;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 5px;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
  padding-left: 15px;
}
.form__input::-moz-placeholder {
  color: #bbb;
  padding-left: 15px;
}
.form__input:-ms-input-placeholder {
  color: #bbb;
  padding-left: 15px;
}
.form__input::-ms-input-placeholder {
  color: #bbb;
  padding-left: 15px;
}
.form__input::placeholder {
  color: #bbb;
  padding-left: 15px;
}

.button {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  background-color: #f78434;
  text-decoration: none;
  line-height: 58px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #ff6a00;
}

.button--white {
  background-color: #fff;
  color: #323232;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button--white:hover {
  background-color: #323232;
  color: #fff;
}

.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 1px;
  background-image: url("./../../img/play.svg");
  position: absolute;
  left: 20px;
  top: 20px;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients {
  padding-top: 100px;
  padding-bottom: 90px;
}

.objects {
  padding-top: 100px;
  padding-bottom: 45px;
}

.objects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.objects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.objects__text {
  max-width: 543px;
  padding-left: 181px;
}
.objects__text p + p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.objects__title {
  margin-bottom: 20px;
}

.title {
  font-size: 42px;
  line-height: 1.476;
  font-weight: 700;
}

.img-card__img {
  border-radius: 20px 20px 0px 20px;
}
.img-card--rounder .img-card__img {
  border-radius: 20px 20px 20px 20px;
}

.img-card + .img-card {
  margin-left: 32px;
}

.img-card {
  position: relative;
  width: 385px;
}

.img-card__info {
  position: absolute;
  right: -46px;
  bottom: 87px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.card-info__icon {
  margin-right: 20px;
}

.card-info__title {
  font-weight: 700;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cta-block {
  background-color: #58BEBF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cta__img {
  margin-top: 60px;
  padding-top: 25px;
  padding-right: 25px;
  background-color: white;
  border-radius: 0 20px 0 0;
}

.cta__title.title {
  color: #fff;
}

.cta__text {
  width: 555px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 95px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./../../img/cta/ovalrigth.svg") top right no-repeat, url("./../../img/cta/Oval.svg") bottom left -150px no-repeat;
}
.cta__text p {
  color: #fff;
  width: 360px;
}

.cta__buttons-row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.serve {
  margin-top: 73px;
}

.serve__text {
  text-align: center;
}

.serve__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 113px;
}

.serve__item {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}
.serve__item-size {
  width: 540px;
  height: 365px;
}

.choose {
  margin-bottom: 136px;
}

.choose__serve__item-size {
  width: 248px;
  height: 183px;
}

.serve__item-info {
  width: 364px;
  margin-bottom: 25px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.serve__item--left {
  background-color: #f78434;
  color: #fff;
}

.serve__item-img {
  width: 70px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.choose__img {
  width: 70px;
  height: 70px;
}
.choose__img :hover {
  background-color: #f78434;
}

.serve__item-text {
  font-size: 28px;
  margin-top: 15px;
}

.button--white {
  color: #f78434;
  margin-top: 45px;
}

.testimonial {
  margin-bottom: 15px;
}

.testimonial__info {
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 93px;
}

.testimonal__left {
  width: 452px;
}

.testimonial__right {
  width: 398px;
}

.testimonial__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.testimonial__card-item {
  width: 350px;
  height: 425px;
  position: relative;
}
.testimonial__card-item:hover {
  -webkit-box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
}

.testimonial__img {
  width: 350px;
  height: 204px;
}

.testimonial__card-text {
  margin: 0 auto;
  width: 262px;
}

.testimonail__text {
  margin-top: 31px;
}

.testimonial__auter {
  margin-top: 23px;
  font-weight: 700;
  font-size: 18px;
}

.testimonial__space {
  color: #58BEBF;
}
.testimonial__space:hover {
  color: #f78434;
}

.testimonial__icon {
  position: absolute;
  right: -40px;
  top: -40px;
}

.contact {
  background-image: url(./../../img/footer/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__text {
  width: 359px;
  margin: 0 auto;
  color: #fff;
}

.contact__text-get {
  margin-top: 40%;
  margin-bottom: 15px;
}

.contact__img-oval {
  position: absolute;
  width: 743px;
  height: 743px;
  z-index: 2;
  margin-left: -5%;
}

.contact__img-girl {
  width: 478px;
  height: 547px;
  position: relative;
  z-index: 3;
  margin-bottom: -7px;
}

.footer {
  height: 325px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 96px;
}

.footer__left {
  width: 306px;
  height: 173px;
  margin-right: 224px;
}

.footer__text-h {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 18px;
}
.footer__text-h::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(./../../img/testimonial/Shape.png);
}

.footer__text-p {
  margin-bottom: 40px;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.footer__right + .footer__right {
  margin-top: 30px;
}
.footer__right li + li {
  margin-top: 30px;
}

.footer__right-text {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 18px;
  color: black;
}

.footer__left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left-img {
  margin-right: 5px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}